<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd"> 
		<bean id ="emp" class="com.itrik.beans.Employee">
			<property name="eid" value="111"/>
			<property name ="ename" value="Kiran"/>
			<property name="eaddr" value ="Knj"/>
			<property name="equalification" >
				<list>
					<value>B.Tech</value>
					<value>M.Tech	</value>
					<value>Phd</value>
				</list>
			</property>
			<property name="ecources">
				<set>
					<value>C/C++</value>
					<value>Java</value>
					<value>python</value>
				</set>
			</property>
			<property name="eno_And_Factory">
				<map>
					<entry key="E-111" value="Steel"/>
					<entry key="E-222" value="software"/>
					<entry key ="E-333" value="Manufacturing"/>
				</map>
			</property>
		</bean>
</beans>
